* {
   margin: 0px;
   padding: 0px;
}
 /* added */
html {
    margin: 0px;
   height: 100%;
   width: 100%;
}

body {
    /*background: url('bpfin.png');*/
    background-color: white;
    margin: 0;
    padding: 1px;
}

body.bodybackground {
    background: url('bpfin.png');
    margin: 0;
    padding: 1px;
}

footer {
    margin: 0;
    margin-bottom: 0;
    /*margin-top: 100px;*/
    width: 100%; 
    /*height: 100px;*/
    background-color: whitesmoke;
    position:relative;
    text-align: center;
}


#up {
    z-index: 999;
    margin: 0;
    /*margin-top: 0;*/
    width: 100%; height: 60px;
    background-color: whitesmoke;
    position:fixed;
}

#up>img {
    height: 100%; 
    object-fit: contain;
    object-position:0%;
    cursor: hand;
    cursor: pointer;
    float:left;
    position: relative;
}

#up>div {
    /*top: 0px;*/
    margin-left: 5px;
    display:inline-block;
    text-align: center;
    position:relative;
    color: #4eb5e5;
    font-family: "trajan";
    cursor: hand;
    cursor: pointer;
}

#up>#login {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    left:30%;
    bottom: 15px;
    vertical-align: middle;
    font-family: "trajan";
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;/*#207cca;*/
    color:#fafafa;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}

#up>#login:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}

#up>#newUser {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    left:35%;
    bottom: 15px;
    vertical-align: middle;
    font-family: "trajan";
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;
    color:#fafafa;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}

#up>#newUser:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}

#up>#logoutText {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    left:25%;
    bottom: 15px;
    vertical-align: middle;
    font-family: "trajan";
}

#up>#logoutButton {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    left:25%;
    bottom: 15px;
    vertical-align: middle;
    font-family: "trajan";
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;/*#207cca;*/
    color:#fafafa;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
#up>#logoutButton:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}

#searchForm{
    margin-right: 10px ;
    text-align:right;
    float: right;
    /*padding:7px 30px;*/
    margin-top: 16px ;
}
 
#searchButton{
    margin-left: 5px;
    padding:7px 30px;
    font-family: "trajan";
    cursor: hand;
    cursor: pointer;
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;
    color:#fafafa;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}

#searchBar {
    padding:8px 10px;
    background:rgba(50, 50, 50, 0.2);
    color: black;
    border:1px solid #dbdbdb;
    float: right;
    font-family: "trajan";
    text-align: left;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}

#searchButton:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}




form#selection {
    margin-top: 60px;
}












#show_onclick_form {
    display: none;
    position: absolute;  could be absolute 
    /*position: fixed;*/
    top 0px; bottom: 0; right: 0; left: 0;
    margin: auto;
    
    width: 500px;
    height: 360px;
    background-color: gainsboro;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #4eb5e5;
    /*font-size: 20px;*/
    
}
#keywordSearch {
    font-size: 20px;
    margin-top: 20px;
}
#topicSearch {
    width: 170px;
    margin-bottom: 20px;
}

#dateSearch {
    font-size: 20px;
    margin-top: 20px;
}
#qtySearch {
    font-size: 20px;
    /*margin-top: 20px;*/
}


#submitSearch {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    font-family: "trajan";
    vertical-align: middle;
    font-family: "trajan";
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;/*#207cca;*/
    color:#fafafa;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;  
}
#submitSearch:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}

#quitSearch {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    font-family: "trajan";
    vertical-align: middle;
    font-family: "trajan";
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;/*#207cca;*/
    color:#fafafa;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;   
}
#quitSearch:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}


#journalCB {
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 100%;
    display:inline-block;
    font-family: "trajan";
    font-size: 20px;
}

input[class="searchFormJournals"]:not(:checked),
input[class="searchFormJournals"]:checked {
  position: absolute;
  left: -9999px;
}
input[class="searchFormJournals"]:not(:checked) + label,
input[class="searchFormJournals"]:checked + label{
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 25px;
}
/* checkbox aspect */
input[class="searchFormJournals"]:not(:checked) + label:before,
input[class="searchFormJournals"]:checked + label:before {
  content: '';
  position: absolute; 
  left:50%; top: 15px; 
  width: 20px; height: 20px;
  background: #f8f8f8;
  border-radius: 3px;
  border: 2px solid #aaa;
  -webkit-box-shadow: groove 0 0 13px rgba(0, 0, 0, 0.5);
  box-shadow: groove 0 0 13px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}
/* checked mark aspect */
input[class="searchFormJournals"]:not(:checked) + label:after,
input[class="searchFormJournals"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 15px; left: 0;
  right: 0;
  font-size: 15px;
  color: #4eb5e5;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  text-align: center;
}
/* checked mark aspect changes */
input[class="searchFormJournals"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
input[class="searchFormJournals"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}














#selection {
    text-align: center;
}

.container{
    font-size: 250%;
}


#header1 {
    margin-top: 55px;
    margin-bottom: 20px;
    font-size: 100%;
    font-weight: 200;
    text-align: center;
}

#submitButton {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: "trajan";
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: center;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 80px;
}

#submitButton:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

#submitButton:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}


div.section>h1{
    font-size: 250%;
    text-transform: uppercase;
}

.section {
    /*font-size: 150%;*/
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-family: "trajan";
    /*background-color: gray;
    width: 70%;*/
    
}

.journal {
    overflow: hidden;/* Makes this div contain its floats */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "trajan";
    background-color: gainsboro;
    width: 100%;
    /*font-size: 120%;*/
}

.section .title {
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    max-width: 300px;
    font-family: "trajan";
    /*font-size: 100%;*/
}

p {
    text-align: center;
    font-family: "trajan";
    margin: auto;
    max-width: 300px;
    font-size: 80%;
    font-weight: 100;
    /*font-size: 80%;*/
}


.articleImage{
  !important; max-height: 160px;
  !important; max-width:300px;
  max-width: 100%;
}






/* newuserhtml*/


div#register { 
    
    position: absolute;
    right: 0; left: 0;
    margin-top: 80px;
    text-align: center;
    /*font-size: 20px;
    margin: auto;*/
}

form#registerForm {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color: ghostwhite;
    font-family: "trajan";
    text-align: center;
    /*font-size: 20px;*/   
}





/* Login background: url('bpfin2.png');*/

div#fg_membersite {
    /*width: 100%;*/
    position: absolute;
    right: 0; left: 0;
    margin-top: 80px;
    text-align: center;
    /*font-size: 20px;
    margin: auto;*/
}
                  
form#login { 
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color: ghostwhite;
    font-family: "trajan";
    text-align: center;
    /*font-size: 20px;*/
}





/* login and newuser */

fieldset {
    width: 100%;
    height: 100%;
}
    
.emailForm {
    display: block;
	width: 200px;
	/*float: left;*/
    font-family: "trajan";
    
    position: relative;
    margin : 0 auto;
}
.passwordForm {
    display: block;
	width: 200px;
    font-family: "trajan";
    
    margin : 0 auto;
}

input.submission {
    color:#fafafa;
    padding:7px 15px;
    margin:0 auto;
    position: absolute;
    font-family: "trajan";
}

input.submission:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
    padding:7px 15px;
    margin: auto;
}


input.submission {
    position:relative;
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding:7px 30px;
    font-family: "trajan";
    vertical-align: middle;
    font-family: "trajan";
    border:2px solid #4eb5e5;
    background-color:#4eb5e5;/*#207cca;*/
    color:#fafafa;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;  
}
input.submission:hover  {
    background-color:#fafafa;
    color:#4eb5e5;
}







input[class="iniCB"]:not(:checked),
input[class="iniCB"]:checked {
  position: absolute;
  left: -9999px;
}
input[class="iniCB"]:not(:checked) + label,
input[class="iniCB"]:checked + label{
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 50px;
}


/* checkbox aspect */
input[class="iniCB"]:not(:checked) + label:before,
input[class="iniCB"]:checked + label:before {
  content: '';
  position: absolute; 
  left:50%; top: 30px; 
  width: 40px; height: 40px;
  background: #f8f8f8;
  border-radius: 3px;
  border: 2px solid #aaa;
  -webkit-box-shadow: groove 0 0 13px rgba(0, 0, 0, 0.5);
  box-shadow: groove 0 0 13px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}
/* checked mark aspect */
input[class="iniCB"]:not(:checked) + label:after,
input[class="iniCB"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 30px; left: 0;
  right: 0;
  font-size: 34px;
  color: #4eb5e5;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  text-align: center;
}
/* checked mark aspect changes */
input[class="iniCB"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
input[class="iniCB"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

label {
    font-size: 60%;
    margin: 0 20px 0 20px;
    font-family: "trajan";
}






/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: #4eb5e5;
    /*font-size: 110%;*/
}



.hoverinfo p {
  display: none;
  color: #000000;
}

/*
.hoverinfo:hover p {
  background-color: ghostwhite;
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  border-style:solid;
  border-color:#4eb5e5;
  border-radius: 15px 15px 15px 15px;
  width: 280px;
  height: 280px;
  vertical-align: middle;
  font-size: 100%;
    text-align:center;
}


.hoverinfo:hover p {
  display: block;
  color: dimgray;
  margin: 0 auto;
  font-size: 100%;
  width: 300px;
}
*/

.popup {
 
    margin: 0 auto;
    position: fixed;
    z-index: 99999;
    /*margin-right: 0px ;
    /*margin-left: 800px ;
    margin-top: 0px;
    /*float: right;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 260px;
    margin-right: 0px ;
    margin-top: 0px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    /*position: absolute;*/
    position: fixed;
    float: right;
    z-index: 99999;
    /*
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    */
}

/* Popup arrow 
.popup .popuptext::after {
    content: "";
    position: absolute;
    margin-right: 260px;
    margin-top: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



















/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4eb5e5;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}










